@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


html{

    font-family: 'inter';

}
body{
    margin: 0%;
    overflow-x: hidden;
   
}

header{
    height: 144px;
    background:linear-gradient(190deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    display: flex;
    align-items: center;
    font-family: 'poppins';

}

#icone{
    position: relative;
    left: 10%;
    width: 50px;
}

li{
    left: 47%;
    position: relative;
    display: inline;
    margin-right: 45px;
    color: #656464;
}

span{
   color: #2B2B39;
}

#botaoheader{
    position: relative;
    justify-content: flex-end;
    left: 44%;
    background-color: #217BF4;
    padding-top: 1.2% ;
    padding-bottom: 1.2%;
    padding-left: 2.7%;
    padding-right: 2.7%;
    border-radius: 14px;
}

#button{
    color: #FFFFFF;
    text-decoration: none;
}

#netbook{
    position: relative;
    left: 11%;
    color:  #2B2B39;
}
.home{
    height: 60vw;
    background:linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    font-family: 'Inter';
}

#pessoashome{
    position: relative;
    justify-content: flex-end;
    left: 45%;
}

#textogrande{
    position: relative;
    left: 10%;
    font-size: 40px;
    top:-52.5%;
}

#subtexto{
    position: relative;
    left: 10%;
    top: -55.5%;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #656464;
}

#botaohome{
    position: relative;
    background-color: #217BF4;
    padding-top: 1.2% ;
    padding-bottom: 1.2%;
    padding-left: 2.7%;
    border-radius: 14px;

}

#doisbotao{
    color: #FFFFFF; 
    text-decoration: none;
}

.aboutus{
    height: 60vw;
    font-family: 'Inter';
}

#videoaboutus{
    position: relative;
    width: 17%;
    bottom: 5%;
    border-radius: 15px;
    left: 55%;
}

#cafeaboutus{
    position: relative;
    width: 17%;
    bottom: 26%;
    left: 56.5%;
    border-radius: 15px;
}

#fiosaboutus{
    position: relative;
    width: 17%;
    top: 2.5%;
    left: 39%;
    border-radius: 15px;
}


#join{
    margin: 0%;
    top: 20%;
    position: relative;
    left: 9%;
    font-size: 36px;
    line-height: 48px;
}

#subjoin{
    position: relative;
    left: 9%;
    font-style: normal;
    top: 20%;
    font-size: 18px;
    line-height: 18px;
    color: #217BF4;
}

#subtextojoin{
    left: 9%;
    top: 21%;
    position: relative;
    color: #656464;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.listaaboutus{
    position: relative;
    display: grid;
    justify-content: flex-start;
    top: 25%;
    left: 4.5%;
}

#l1{
    color:#171648;
}
#l2{
    color: #171648;
    top: 90%;
}
#l3{
   color: #171648;
   top: 200%;
}
.quadros{
    display: flex;
    position:relative;
    height: 30vw;
    font-size: larger;
   
    background-color: #F1F6FD;
   
    
}
#quadro2{
    width: 27vw;
    height: 28vw;
    background: #FFFFFF;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
   

  
   
}
#quadro1{
    width: 27vw;
    height: 28vw;
    background: #FFFFFF;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 18%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
    
 
}

#invi{
    width: 27vw;
    height: 28vw;
    background: #F1F6FD;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#discover{
    width: 15vw;
    height: 5vw;
    background: #217BF4;
    border-radius: 14px;
    position: absolute;
    top: 72%;
    left: 74%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}
#star{
    bottom: -11%;
    left:10%;
    position: relative;

}
#nota{
    
    bottom: -1%;
    left:25%;
    position: relative;
    color:#0A093D;
    
    

}
#people{
    bottom: -10%;
    left:5%;
    position: relative;
}
#membros{
    bottom: 4%;
    position: relative;
    left:20%;
   
    

}
#text1a{
    bottom: 1%;
    position: relative;
    left:10%;
    color:#8C8C8C;
    font-weight: 300;
 
}
#link1{
    bottom: -20%;
    position: relative;
    left:10%;
    color:#217BF4;


}
#trofeu{
    bottom: -11%;
    left:10%;
    position: relative;

}
#Awards{
    bottom: -1%;
    left:25%;
    position: relative;

    color:#0A093D;
}
#github{
    bottom: -11%;
    left:8%;
    position: relative;
    font-weight: 300;
}
#git{
    bottom: 4%;
    position: relative;
    left:20%;
    color: #5D5B70;
    font-weight: 300;
    

}
#text2a{
    bottom: 1%;
    position: relative;
    left:10%;
    color:#8C8C8C;
    font-weight: 300;
   
}
#link2{
    bottom: -20%;
    position: relative;
    left:10%;
    font-weight: 300;
    
}
#subtext{
    bottom: 2%;
    position: relative;
    color:#217BF4;
    font-weight: 300;
    
}
#title{
    bottom: 6%;
    position: relative;
   color: #0A093D;
   
}
#text3a{
    bottom: 5%;
    position: relative;
    color: #656464;
    font-weight: 300;
    
    
}
#discoverme{
    bottom: -5%;
    text-align: center;
    position: relative;
    color:#FFFFFF;
   
}
#azul{
    color:#217BF4;
}
.retangulo {
    display: flex;
    width: 100vw;
    height: 110vh;
    background-color: #F1F6FD;
  }
  
  #ret1 {
    display: flex;
    width: 130%;
    height: 20%;
    border-radius: 1vh;
    background: #FFFFFF;
    position: relative;
    position: relative;
    bottom: -25%;
    left: 40%;
  }
  
  #ret2 {
    display: flex;
    width: 130%;
    height: 20%;
    border-radius: 1vh;
    background: #FFFFFF;
    position: relative;
    position: relative;
    bottom: -30%;
    left: 40%;
  }
  
  #ret3 {
    display: flex;
    width: 130%;
    height: 20%;
    border-radius: 1vh;
    background: #FFFFFF;
    position: relative;
    position: relative;
    bottom: -35%;
    left: 40%;
  }
  
  #ret4 {
    display: flex;
    width: 130%;
    height: 20%;
    border-radius: 1vh;
    background: #FFFFFF;
    position: relative;
    position: relative;
    bottom: 35%;
    left: 190%;
  }
  
  #ret5 {
    display: flex;
    width: 130%;
    height: 20%;
    border-radius: 1vh;
    background: #FFFFFF;
    position: relative;
    position: relative;
    bottom: 30%;
    left: 190%;
  }
  
  #ret6 {
    display: flex;
    width: 130%;
    height: 20%;
    border-radius: 1vh;
    background: #FFFFFF;
    position: relative;
    position: relative;
    bottom: 25%;
    left: 190%;
  }
  
  #subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -105vh;
    font-size: small;
    color: #217BF4;
  }
  
  #titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-110vh;
    font-size: larger;
    color: #0A093D;
  }
  
  #coment {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-115vh;
    font-size: small;
    color: #656464;
  }
  
  #icon1 {
    position: relative;
    bottom: -10%;
  }
  
  #icon2 {
    position: relative;
    bottom: -10%;
  }
  
  #icon3 {
    position: relative;
    bottom: -10%;
  }
  
  #icon4 {
    position: relative;
    bottom: -10%;
  }
  
  #icon5 {
    position: relative;
    bottom: -10%;
  }
  
  #icon6 {
    position: relative;
    bottom: -10%;
  }
  
  h2 {
    color: #2F2C4A;
  }
  
  h4 {
    font-size: medium;
    color: #656464;
  }
  
  #members {
    position: relative;
    bottom: -5%;
  }
  
  #Forum {
    position: relative;
    bottom: -5%;
  }
  
  #List {
    position: relative;
    bottom: -5%;
  }
  
  #Groups {
    position: relative;
    bottom: -5%;
  }
  
  #Custom {
    position: relative;
    bottom: -5%;
  }
  
  #Scroll {
    position: relative;
    bottom: -5%;
  }
  
  #text1 {
    position: relative;
    bottom: 8%;
  }
  
  #text2 {
    position: relative;
    bottom: 8%;
  }
  
  #text3 {
    position: relative;
    bottom: 8%;
  }
  
  #text4 {
    position: relative;
    bottom: 8%;
  }
  
  #text5 {
    position: relative;
    bottom: 8%;
  }
  
  #text6 {
    position: relative;
    bottom: 8%;
  }



#valuableteam{
    
    
    font-size: 2.5vh;
    color:#217BF4;
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#activemembers{

    
    font-size: 4vh;  
    
    font-weight: 700;
    position: relative; 
    display: flex;    
  
    align-items: center;
    justify-content: center;
    top: 5vh;

 
   
    color:#0A093D;
}

#whenan{
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 5vh;

}

.bloco{
display: flex;
width: 71.5vw;
height: 5vw;
}

#opc{

    position: relative; 
   
    
    width: 51vh;
    height: 8vh;
    background: #f2f7fe;
    
    bottom: 2vh;
    left: 71vh;
    border-radius: 20px;
    
}

#txtopc{

position: relative;
word-spacing: 13vh;
left:3vh;
top:1vh;
}

.blocopessoa1{

    display: flex;
    width: 71.5vw;
    height: 25vw;



}

#bloco1{

    position: relative; 
   
    
    width: 30vh;
    height: 30vh;
    background: #FFFFFF;
    
    bottom: 2vh;
    left:20vh;
    border-radius: 20px;

}


#img1{

    position: relative;
   
    left:7vh;
    top:3vh;


}

#txt1{

color: #2F2C4A;
font-size: 2.3vh;
position:relative;



}

#a1{

    color: black;
    font-size: 1.5vh;
    position:relative;
    left: 4vh;
    bottom: 2vh;
}


#bloco2{

    position: relative; 
   
    
    width: 30vh;
    height: 30vh;
    background: #FFFFFF
    ;
    
    bottom: 2vh;
    left:30vh;
    border-radius: 20px;

}

#img2{

    position: relative;
   
    left:7vh;
    top:3vh;


}

#txt2{

color: #2F2C4A;
font-size: 2.3vh;
position:relative;



}

#a2{

    color: black;
    font-size: 1.5vh;
    position:relative;
    left: 4vh;
    bottom: 2vh;
}

#bloco3{

    position: relative; 
   
    
    width: 30vh;
    height: 30vh;
    background: #FFFFFF
    ;
    
    bottom: 2vh;
    left:40vh;
    border-radius: 20px;

}

#img3{

    position: relative;
   
    left:7vh;
    top:3vh;


}

#txt3{

color: #2F2C4A;
font-size: 2.3vh;
position:relative;



}

#a3{

    color: black;
    font-size: 1.5vh;
    position:relative;
    left: 4vh;
    bottom: 2vh;
}



#bloco4{

    position: relative; 
   
    
    width: 30vh;
    height: 30vh;
    background: #FFFFFF
    ;
    
    bottom: 2vh;
    left:50vh;
    border-radius: 20px;

}

#img4{

    position: relative;
   
    left:7vh;
    top:3vh;


}

#txt4{

color: #2F2C4A;
font-size: 2.3vh;
position:relative;
left: 2.5vh;


}

#a4{

    color: black;
    font-size: 1.5vh;
    position:relative;
    left: 4vh;
    bottom: 2vh;
}





#publicidade{

    
    height: 35vw;
    background-color: #E5F0FD;


}

#textooo{

    position: relative;
    width: 25%;
    display:flex;
    padding: 0%;
    font-family: 'inter';
    flex-direction: column;
    justify-content:flex-end;
    left: 20vh;
    top: 16vh;
    

    
}

#part1{

    color:  #217BF4;
    font-size: 22px;
    
}

#part2{

    position: relative;
    font-size: 38px;
    color:  #0A093D;
    bottom:4vh;
}

#part3{

    position: relative;
    font-size: 20px;
    color: #656464;
    bottom:8vh;
    word-spacing: 0.3vh;
}


#apple{
    position: relative;
    width: 24.5vh;
    height: 11.2vh;
    left:9%;
    top:11%;
}

#google{
    position: relative;
    width: 18vh;
    height: 6.2vh;
    left: 8.5%;
    top: 7.5%;
}

#celll{
    position: relative;
    left:60%;
    bottom:65.9%;
    width: 55vh;

}

#cell{
    width: 60vh;
}



.news{

    height: 90vh;
    font-family: 'inter';
}


#lastest{

    display:flex;
    position:relative;
    align-items: center;
    flex-direction: column;
    top:18vh;
}

#part4{
    
    color:  #217BF4;
    font-size: 2vh;
    
    
}

#part5{

    position: relative;
    color:#0A093D;
    font-size: 5vh;
    bottom: 6vh;

}

#imgsss{
    display: flex;
    justify-content: space-around;
    position:relative;
    top:15vh;
    
}

#risco{
 
        position:relative;
        width: 40px;
        height: 2.2px;
        background-color: #FFAF2E;
        left:2%;
        bottom:22.5%;
}

#ploto1{

    position: relative;
    left:8%;

}



#noot{

    width: 36vh;
    border-radius: 2vh;

}

#plot1{
    display:flex;
    justify-content: center;
    font-size:2vh;
}

#plt1{

    display: flex;
    justify-content: center;
    position: relative;
    right:4.5vh;
    color: #656464;
}


#ploto2{

    position: relative;
    

}
#family{
    width: 36vh;
    border-radius: 2vh;

}

#plot2{
    display:flex;
    justify-content: center;
    font-size:2vh;
}

#plt2{

    display: flex;
    justify-content: center;
    position: relative;
    right:4.5vh;
    color: #217BF4;
}

#seta2{

    position: relative;
    width: 1.5vh;
    color:#217BF4;
    bottom:7%;
    left:60%;


}

#ploto3{

    position: relative;
    right: 8%;

}

#pinos{

    width: 36vh;
    border-radius: 2vh;
}

#plot3{
    display:flex;
    justify-content: center;
    font-size:2vh;
}

#plt3{

    display: flex;
    justify-content: center;
    position: relative;
    right:4.5vh;
    color: #656464;
}


#seta{

    position: relative;
    width: 1.5vh;
    color:#656464;
    bottom:7%;
    left:60%;


}












footer{

    background-color: #2B2B39;
    height: 40vh;
   
    
}

#Homefooter{
    color: black;
    position: relative;
    right: 40%;
    font-size: 15px;
    list-style-type: none;
    top: 12%;
    
}
#Homefooter li{

    color: white;
    display: grid;
    margin-top: 2%;
}



#Resources li {
   
    
    
    
    
    color: white;
    margin-top: 2%;
    
    display:grid;
    
}

#Resources{
    position: relative;
    right: 30%;
    bottom:68%;
    list-style-type: none;
    font-size: 15px;
}



#Community li {
   
    
    
    
    
    color: white;
    margin-top: 2%;
    display:grid;
    
}

#Community{
    position: relative;
    right: 20%;
    top: -147.6%;
    list-style-type: none;
    font-size: 15px;
}

#MainL li {
   
    
    
    
    
    color: white;
    margin-top: 2%;
    display:grid;
    
}

#MainL{
    position: relative;
    left: -10%;
    bottom: 226.9%;
    list-style-type: none;
    font-size: 15px;
}




#sub{

position: relative;
bottom: 284%;
left: 80%;
color: white;





}



    input[type=text]{

        position: relative;
        background-color: #2B2B39;
        border-radius: 5px;
        bottom: 50%;
        left: 0%;

    }

    input[type="button"]{

        position: relative;
        bottom:10%;



    }

    #barrafooter{

        position: relative;
        bottom: 259%;
        height: 25%;
        background-color:#20202D;
        
    }

    #logofooter{

    position: relative;
    top:27%;
    right:2% ;
    display: flex;
    justify-content: center;
    align-items: center;
    

    }

    #besnik{

     color:white;
     position: relative;
     bottom: 15%;
     left: 7%;



    }

    #redes li{

      
        position: relative;
        left:75% ;
        bottom: 7vh;
        list-style-type: none;
        display: inline;
        color: #FFFFFF;
    }